<script>
    function openHome() {
        window.location.assign("/en/home/");
    }

    function openCouncil() {
        window.location.assign("/en/council/");
    }

    function openEvents() {
        window.location.assign("/en/event/");
    }

    function openPC() {
        window.location.assign("/en/pcklub/");
    }

    function openRules() {
        window.location.assign("/en/rules/");
    }

    function openRegistration() {
        window.location.assign("/en/registration/");
    }

    function openPolice() {
        window.location.assign("/en/police/");
    }

    function openAbout() {
        window.location.assign("/en/about/");
    }
    function openPayments() {
        window.location.assign("/en/payments/");
    }
    function openContacts() {
        window.location.assign("/en/contacts/");
    }
    function openFAQ() {
        window.location.assign("/en/faq/");
    }
    function openNews() {
        window.location.assign("/en/news/");
    }
    function openErasmus() {
        window.location.assign("/en/erasmus/");
    }
    function switchLanguage() {
        window.location.assign("/sk/");
    }
</script>