<script>
    function openHome() {
        window.location.assign("/sk/home/");
    }

    function openCouncil() {
        window.location.assign("/sk/council/");
    }

    function openEvents() {
        window.location.assign("/sk/event/");
    }

    function openPC() {
        window.location.assign("/sk/pcklub/");
    }

    function openRules() {
        window.location.assign("/sk/rules/");
    }

    function openRegistration() {
        window.location.assign("/sk/registration/");
    }

    function openPolice() {
        window.location.assign("/sk/police/");
    }

    function openAbout() {
        window.location.assign("/sk/about/");
    }
    function openPayments() {
        window.location.assign("/sk/payments/");
    }
    function openContacts() {
        window.location.assign("/sk/contacts/");
    }
    function openFAQ() {
        window.location.assign("/sk/faq/");
    }
    function openNews() {
        window.location.assign("/sk/news/");
    }
    function openErasmus() {
        window.location.assign("/sk/erasmus/");
    }
    function switchLanguage() {
        window.location.assign("/en/");
    }
</script>