<div class="wrapper">
	<div class="menu__header">
		<div class="menu__icon">
			<span></span>
		</div>
	</div>
	<header class="header">
	<nav class="nav">
            <ul class="nav__wrapper">

                <li class="logo__container">
                    <img class="logo__image" src="/images/home__web__page/logo.png" alt="">
                    <p class="logo__text"><a class="logo__text nav__element" href="/">Jedlikova 13</a></p>
                </li>
                <!--<li><a class="nav__element" href="/home/">home</a></li>-->
                <li><a class="nav__element nav__click" onclick="clubsFunction()" href="#">student clubs<img
                        class="dropdown__image" id="clubs__image" src="/images/home__web__page/dropdown__image.png"
                        alt=""></a>
                    <ul id="clubs__dropdown" class="dropdown">
                        <li><a class="nav__element nav__click" onclick="councilFunction()" href="#">student council<img
                                class="dropdown__image" id="council__image"
                                src="/images/home__web__page/dropdown__right.png" alt=""></a>
                            <ul id="council__dropdown" class="sub-dropdown">
                                <li><a class="nav__element" href="/council/">info</a></li>
                                <li><a class="nav__element" href="/event/">event</a></li>
                            </ul>
                        </li>
                        <li><a class="nav__element nav__click" onclick="klubFunction()" href="#">pc klub<img
                                id="klub__image" class="dropdown__image" src="/images/home__web__page/dropdown__right.png"
                                alt=""></a>
                            <ul id="klub__dropdown" class="sub-dropdown">
                                <li><a class="nav__element" href="/pcklub/">info</a></li>
                                <li><a class="nav__element" href="/rules/">operating rules of the network</a></li>
                                <li><a class="nav__element" href="/registration/">registration for local network</a></li>
                            </ul>
                        </li>
                        <li><a href="/police/" class="nav__element">student police</a></li>
                    </ul>
                </li>
                <li><a class="nav__element nav__click" onclick="infoFunction()" href="#">info<img id="info__image"
                                                                                                  class="dropdown__image" src="/images/home__web__page/dropdown__image.png" alt=""></a>
                    <ul id="info__dropdown" class="dropdown">
                        <li><a class="nav__element" href="/about/">about hostel</a></li>
                        <li><a class="nav__element" href="/payments/">paymants</a></li>
                        <li><a class="nav__element" href="/contact/">contacts</a></li>
                        <li><a class="nav__element" href="/faq/">faq</a></li>
                        <li><a class="nav__element" href="/news/">news</a></li>
                    </ul>
                </li>

                </il>
                <li><a class="nav__element" href="https://rezervacie.intrak.sk/frontend/">reservation</a></li>
                <li>
                </li>
                <li><a class="nav__element" href="/erasmus/">erasmus</a></li>
                <a class="nav__element" href="#"><img src="/images/home__web__page/english.png" alt=""></a>
            </ul>
        </nav>
</header>