{{ define "main" }}
<div class="content">
			<div class="container">
				<div class="content__container">
					<div class="news__header">
						<div class="news__heading">Lorem ipsum dolor sit amet.</div>
						<div class="news__date">8/12/1230</div>
					</div>
					<div id="first" class="news__body">Первый контейнер</div>
					<div id="second" class="news__body">Второй контейнер</div>
					<div id="third" class="news__body">Третий контейнер</div>
					<div id="quad" class="news__body">Четвёртый контейнер </div>

				</div>
				<div class="closed__container">
					<div id="open_first" onclick="openFirstFunction()" class="closed__news">Открывает первый контейнер</div>
					<div id="open_second" onclick="openSecondFunction()" class="closed__news">Открывает второй контейнер
					</div>
					<div id="open_third" onclick="openThirdFunction()" class="closed__news">Открывает третий контейнер</div>
					<div id="open_quad" onclick="openQuadFunction()" class="closed__news">Открывает четвёртый контейнер</div>
				</div>
				<div class="content__container">
					<div class="contact__heading">Contact</div>
					<div class="contact__wrapper">
						<div class="contact__body">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2633.453192764254!2d21.228868815668672!3d48.69681827927203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ee01e9e56e547%3A0xbf2c126bccea22b0!2zSmVkbMOta292YSAxMDg3LzEzLCAwNDAgMTEgS2_FoWljZSwg0KHQu9C-0LLQsNC60LjRjw!5e0!3m2!1sru!2sua!4v1632152329301!5m2!1sru!2sua"></iframe>
						</div>
						<div class="contact__body">
							<p><span>Address: </span><br>Jedlikova 13<br></p>
							<span>Accommodation department:</span><br><br>
							<p><span>Mrs. </span><br>Slávka Fedorová<br></p>
							<p><span>Number: </span><br>+421 55 602 5861<br></p>
							<p><span>Mail: </span><br>slavka.fedorova@tuke.sk<br></p>
							<span>Gatehouse: </span><br><br>
							<p><span>Mobile: </span><br>0917 911 619<br></p>
							<p><span>Tel: </span><br>055/602 58 62<br></p>
						</div>
					</div>
				</div>
			</div>
		</div>
{{ end }}